.maindetails {
    height: auto;
    position: sticky;
    /* top: -3vh;  */
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_info {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 2vw;
    flex-direction: column;
}

.details_info>:nth-child(1) {
    color: var(--orange);
    font-size: 1.2vw;

}

.details_info>:nth-child(2) {
    font-size: 2.5vw;
}

.detail {
    width: 50vw;
    text-align: center;
    text-transform: capitalize;
    line-height: 3.5vh;
}

/* STYLING FOR WRK BOX  */
.wrk {
    gap: 5vw;
    display: flex;
    align-items: center;
    margin: 5vh;
}

.wrk_hide {
    display: none;
}

.box {
    border-radius: 10px;
    width: 11vw;
    height: 22vh;
    cursor: pointer;
    background-color: var(--trycolor);
}

.box:hover {
    color: #000000;
    background-color: var(--orange);
    /* font-size: 1.8vw; */
}

.wrk_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrk_one>:nth-child(2) {
    margin: 10px 0 18px 0;
    font-size: 1.4vw;
    text-align: center;
    text-transform: capitalize;
}

/* LAST SOME DATA STYLING */

.details-data {
    /* gap: 12vw;  */
    display: flex;
    align-items: center;
    margin-top: 3.5vh;
}

.expr {
    margin: 2vh 5vw 5vh;
}

.expr>div {
    margin-bottom: 1vh;
    color: var(--orange);
    font-size: 2vw;
    font-weight: bold;
}

.expr>:nth-child(2) {
    font-size: 1.3vw;
    text-transform: capitalize;
}

.detilblr {
    right: -29px;
    height: 26%;
    width: 27%;
    bottom: 15%;
}

.progmn_data_bck_div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 15vw;
    margin-left: 6vw;
    margin-bottom: 2vh;
    gap: 4vh;
}

.langcls {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 2vh;
    height: 90%;
}

.lang_img {
    height: 5vh;
    cursor: pointer;
}

.lang_img:hover {
    transform: scale(1.10);

}

.star_img {
    height: 10vh;

}

.five-rows {
    display: flex;
    flex-direction: column;
}

.five-rows>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    gap: 1vw;
    margin-left: 3vw;
}

.five-rows>div>:nth-child(1) {
    margin-right: 4vw;
}

.bckdiv {
    justify-content: center;
    align-items: center;
    display: flex;

    flex-wrap: wrap;
    gap: 1rem;

}


.bckbx {
    /* grid-template-columns: 20vh 20vh 20vh; */
    background-color: #404040;
    width: 85%;
    height: 53vh;
    display: flex;
    border-radius: 2vh;
    gap: 5vw;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    box-shadow: 1vh 1vw 4vh 0vw white;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
.bckbx::-webkit-scrollbar{
    display: none;
}
.exit_icon {
    position: sticky;
    right: 3vw;
    bottom: 44vh;
}

.bckbx:hover {
    box-shadow: 1vh 1vw 7vh 0vw white;
}
.rightarrow{
    right: 3vw;
    bottom: 23vh;
    position: sticky;
}
.leftarrow{
    right: 180vw;
    bottom: 23vh;
    position: sticky;
}
.sectn {
    color: rgb(255, 255, 255);
    display: flex;
    gap: 5vw;
    cursor: pointer;
    align-items: center;
    width: calc(25% - 1rem);
    margin-left: calc(20% / 4);
    margin-right: calc(20% / 4);
    
}

.pro_name_des {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap: 1.3vh;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    /* Add a transition for smooth scaling */

}

/* .pro_name_des:hover .pro_name_des > :nth-child(2){    opacity: 0;} */

.pro_name_des:hover {
    transform: scale(1.07);

}

.pro_name_des>:nth-child(1) {
    width: 15vw;
    height: 18vh;
    overflow: hidden;
}

.pro_name_des>:nth-child(1)>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro_name_des>:nth-child(2) {
    background-color: var(--lightblack);
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    height: auto;
}


.pro_name_des>:nth-child(2):hover .proj_des {
    opacity: .8;}
    
    .pro_name_des>:nth-child(2):hover .pro_name {
        transition: font-size 0.3s ease;
    font-size: 2.5vh;}

.pro_name {
    margin: 3.5vh 3vw 1vh 3vw;
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
}

.proj_des {
    margin: 1vw;
    text-transform: capitalize;
    line-height: 18px;

}

@media screen and (max-width:500px) {
    .maindetails {
        padding-top: 3vh;
    }

    .details_info>:nth-child(1) {

        font-size: 1.2vh;

    }

    .details_info>:nth-child(2) {
        font-size: 2vh;
    }

    .detail {
        width: 85vw;
        line-height: 2.8vh;
        font-size: 2vh;
        margin-bottom: 4vh;
    }

    .box {
        width: 21vw;
        height: 14vh;
        cursor: pointer;
        background-color: var(--trycolor);
    }

    .wrk_one>:nth-child(2) {
        font-size: 1.7vh;
    }

    .wrk_one>:nth-child(3) {
        font-size: 1.8vh;
        display: flex;

    }

    .expr>div {
        font-size: 2vh;
    }

    .expr>:nth-child(2) {
        font-size: 1.7vh;
        text-transform: capitalize;
    }

    .sectn {
        display: flex;
        flex-direction: column;
    }

    .bckbx::-webkit-scrollbar {
        display: none;
    }

    .bckbx {
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 85vw;
    }

    .pro_name_des>:nth-child(1) {
        width: 60vw;
        height: 25vh;
    }

    .pro_name_des>:nth-child(2) {
        height: auto;
    }

    .pro_name {
        font-size: 1.8vh;
    }

    .proj_des {
        font-size: 1.5vh;
    }

    .exit_icon {
        position: fixed;
        top: 4vh;
    }
.leftarrow{
    display: none;
}
.rightarrow{
    display: none;
}
    .malegap {
        margin-top: 100vh;
    }

}