.left_edu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vh 4vw 18vh 4vw;
    background-color: var(--appColor);

}
.ed_datas{
    display: flex;
    flex-direction:column;
    cursor: pointer;
}
.hover_text{
    font-size: 3vh;
    background-color: white;
    color: black;
    width: 70%;
    display: none;
    opacity: .4;
    border-radius: 2px;
}
.ed_datas:hover .hover_text{
    display: block;
}
.ed_datas>:nth-child(1){
    font-weight: bold;
}
.ed_datas>:nth-child(2){
    font-weight: bold;
    font-size: 1.8vw;
    margin: 1.4vh 0 1.6vh 0;
}
.ed_datas>:nth-child(3){
    font-weight:lighter;
    text-transform: uppercase;
}
.edu_item{
    display: flex;
    gap:8vw ;
    align-items: center;
}
.edu_row{
    display: grid;
    gap: 7vw;
    margin: 5vh;
    }
    
    @media screen and (max-width:500px) {
    
        .left_edu {
            flex-direction: column;
            position: relative;
            bottom: 15vh;
            margin: 0;
        }
    
        .ed_datas>:nth-child(1) {
            font-size: 2vh;
        }
    
        .ed_datas>:nth-child(2) {
            font-size: 2.5vh;
        }
    
        .ed_datas>:nth-child(3) {
            font-size: 2.1vh;
        }
    }