.moddel_mess{
    height: 7vh;
    width: 24vh;
    background-color: white;
    color: black;
    font-size: 1.5vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bck_model_mess{
    display: flex;
    justify-content: center;
    align-items: center;
}